In [14]:
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path

from pysus.online_data import sinasc, parquets_to_dataframe

pd.set_option('display.max_columns', 100)

In [15]:
sinasc.download?

Signature:
sinasc.download(
    states: Union[str, list],
    years: Union[str, list, int],
    data_dir: str = '/home/lca/pysus',
) -> list
Docstring:
Downloads data directly from Datasus ftp server
:param state: two-letter state identifier: MG == Minas Gerais,
              can be a list
:param year: 4 digit integer, can be a list
:return: list of downloaded parquet paths
File:      ~/anaconda3/envs/pysus/lib/python3.9/site-packages/pysus/online_data/sinasc.py
Type:      function

In [17]:
# Diretorio para download
p = Path().absolute() / 'Files_SINASC'

In [5]:
# estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO',
#           'MA','MT','MS','MG','PA','PB','PR','PE','PI',
#           'RJ','RN','RS','RO','RR','SC','SP','SE','TO']


# Apenas estados do sul
estados = ['RS', 'SC', 'PR']

anos = [2021, 2020, 2019, 2018]

downloaded = sinasc.download(
    states=estados,
    years=anos,
    data_dir=p
    )

downloaded

('/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2021.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2021.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2021.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2020.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2020.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2020.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2019.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2019.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2019.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2018.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2018.parquet',
 '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2018.parquet')

In [18]:
banco = {}

for f in p.glob('*'):
    banco[f.name] = str(f)

In [19]:
banco

{'DNPR2018.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2018.parquet',
 'DNPR2019.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2019.parquet',
 'DNPR2020.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2020.parquet',
 'DNPR2021.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNPR2021.parquet',
 'DNRS2018.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2018.parquet',
 'DNRS2019.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2019.parquet',
 'DNRS2020.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2020.parquet',
 'DNRS2021.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNRS2021.parquet',
 'DNSC2018.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2018.parquet',
 'DNSC2019.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2019.parquet',
 'DNSC2020.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2020.parquet',
 'DNSC2021.parquet': '/mnt/c/Users/LUCAS/OneDrive/04 - PUCRS/2023.2 - Coleta, Preparação E Análise De Dados/TF/Files_SINASC/DNSC2021.parquet'}

In [20]:
parquets_to_dataframe?

Signature:
parquets_to_dataframe(
    parquet_dir: "<class 'pathlib.PosixPath'>",
    clean_after_read=False,
) -> pandas.core.frame.DataFrame
Docstring:
Receives a parquet directory path and returns it as a
dataframe, trying to clean white spaces and convert to
the correct data types. Can read only one parquet dir
at time.
File:      ~/anaconda3/envs/pysus/lib/python3.9/site-packages/pysus/online_data/__init__.py
Type:      function

In [21]:
df = []
for f in banco.values():
    df.append(parquets_to_dataframe(str(f)))
    
df = pd.concat(df, axis=0).reset_index(drop=True)

In [22]:
display(df.shape)
df.head()

(1519824, 61)

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,CODMUNRES,GESTACAO,GRAVIDEZ,PARTO,CONSULTAS,DTNASC,HORANASC,SEXO,APGAR1,APGAR5,RACACOR,PESO,IDANOMAL,DTCADASTRO,CODANOMAL,NUMEROLOTE,VERSAOSIST,DTRECEBIM,DIFDATA,DTRECORIGA,NATURALMAE,CODMUNNATU,CODUFNATU,ESCMAE2010,SERIESCMAE,DTNASCMAE,RACACORMAE,QTDGESTANT,QTDPARTNOR,QTDPARTCES,IDADEPAI,DTULTMENST,SEMAGESTAC,TPMETESTIM,CONSPRENAT,MESPRENAT,TPAPRESENT,STTRABPART,STCESPARTO,TPNASCASSI,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK,CONTADOR
0,1,0014109,410430,1,39,2,5,999992,02,01,410430,5,1,1,4,09112018,1225,1,08,09,4,3725,2,04122018,,20180050,3.2.00,07122018,028,,841,411727,41,5,,05021979,4,03,02,00,44,,40,2,09,02,1,2,3,1,5,4,11112018,08,0,1,1,03,1,5,2643192
1,1,0014109,410430,1,28,1,4,622730,01,01,411680,4,1,2,4,09112018,1533,1,08,09,4,2855,2,14112018,,20180046,3.2.00,14112018,005,,841,412250,41,3,3,26121989,4,02,00,01,34,,36,2,09,01,1,2,1,1,5,4,11112018,06,0,1,1,10,1,5,2643193
2,1,0014109,410430,1,24,1,4,999992,00,00,410430,5,1,2,4,09112018,1628,1,08,09,1,2810,2,14112018,,20180046,3.2.00,14112018,005,,841,410430,41,3,3,22101994,1,00,00,00,19,,40,2,12,02,1,2,1,1,5,4,11112018,06,0,1,1,02,0,5,2643194
3,1,0014109,410430,1,35,2,4,421125,01,00,410430,5,1,2,3,09112018,1702,2,09,09,1,4210,2,04122018,,20180050,3.2.00,07122018,028,,841,410430,41,3,3,23061983,1,01,00,01,34,,40,2,06,01,1,2,1,1,5,4,11112018,06,0,1,1,05,1,4,2643195
4,1,0014109,410430,1,26,1,5,521115,00,00,412810,5,1,2,2,09112018,2124,2,08,09,,3195,2,14112018,,20180046,3.2.00,14112018,005,,841,410430,41,4,,08021992,,00,00,00,32,,39,2,03,03,2,2,1,1,5,4,11112018,07,0,1,1,06,0,3,2643196

In [23]:
for c in df.columns:
    df[c] = df[c].replace('', np.nan)

In [24]:
l = df.shape[0]

for i, c in enumerate(df.columns):
    v = df[c].notna().sum()
    print(f'{i:5} {c:15} {v:10} {(v/l)*100:6.2f} {df[c].dtype:}')

    0 ORIGEM             1519824 100.00 string
    1 CODESTAB           1512756  99.53 string
    2 CODMUNNASC         1519824 100.00 string
    3 LOCNASC            1519824 100.00 string
    4 IDADEMAE           1519824 100.00 string
    5 ESTCIVMAE          1514542  99.65 string
    6 ESCMAE             1515171  99.69 string
    7 CODOCUPMAE         1446464  95.17 string
    8 QTDFILVIVO         1513356  99.57 string
    9 QTDFILMORT         1510115  99.36 string
   10 CODMUNRES          1519824 100.00 Int64
   11 GESTACAO           1513626  99.59 string
   12 GRAVIDEZ           1519032  99.95 string
   13 PARTO              1519069  99.95 string
   14 CONSULTAS          1519693  99.99 string
   15 DTNASC             1519824 100.00 string
   16 HORANASC           1518984  99.94 string
   17 SEXO               1519824 100.00 Int64
   18 APGAR1             1512116  99.49 string
   19 APGAR5             1512201  99.50 string
   20 RACACOR            1508089  99.23 string
   21 PESO               1519772 100.00 string
   22 IDANOMAL           1516657  99.79 string
   23 DTCADASTRO         1519824 100.00 string
   24 CODANOMAL            12517   0.82 string
   25 NUMEROLOTE         1519824 100.00 string
   26 VERSAOSIST         1519824 100.00 string
   27 DTRECEBIM          1519795 100.00 string
   28 DIFDATA            1519824 100.00 string
   29 DTRECORIGA               0   0.00 string
   30 NATURALMAE         1485229  97.72 string
   31 CODMUNNATU         1485229  97.72 string
   32 CODUFNATU          1485229  97.72 string
   33 ESCMAE2010         1510972  99.42 string
   34 SERIESCMAE          942827  62.04 string
   35 DTNASCMAE          1513105  99.56 string
   36 RACACORMAE         1502818  98.88 string
   37 QTDGESTANT         1509884  99.35 string
   38 QTDPARTNOR         1507817  99.21 string
   39 QTDPARTCES         1508141  99.23 string
   40 IDADEPAI            955914  62.90 string
   41 DTULTMENST          487389  32.07 string
   42 SEMAGESTAC         1513541  99.59 string
   43 TPMETESTIM         1513541  99.59 string
   44 CONSPRENAT         1508519  99.26 string
   45 MESPRENAT          1503289  98.91 string
   46 TPAPRESENT         1512570  99.52 string
   47 STTRABPART         1508898  99.28 string
   48 STCESPARTO         1501930  98.82 string
   49 TPNASCASSI         1513406  99.58 string
   50 TPFUNCRESP         1441102  94.82 string
   51 TPDOCRESP          1514385  99.64 string
   52 DTDECLARAC         1508539  99.26 string
   53 ESCMAEAGR1         1510972  99.42 string
   54 STDNEPIDEM         1519824 100.00 string
   55 STDNNOVA           1519824 100.00 string
   56 CODPAISRES         1519823 100.00 string
   57 TPROBSON           1519824 100.00 string
   58 PARIDADE           1519824 100.00 string
   59 KOTELCHUCK         1519824 100.00 string
   60 CONTADOR           1519824 100.00 string

In [25]:
cols = [
       'CODMUNNASC', 'IDADEMAE', 'ESTCIVMAE', 'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 
       'DTNASCMAE', 'DTNASC', 'HORANASC', 'RACACOR', 'PESO', 'ESCMAE2010',  'RACACORMAE'
    ]

df = df[cols]

In [26]:
cols_int = [
    'IDADEMAE',
    'PESO',
]

for c in cols_int:
    # if c in cols_int:
    if df[c].dtype == 'string':
        df[c] = df[c].fillna('-1')
        df[c] = df[c].astype(int)

In [27]:
[c for c in df.columns if c not in cols_int]

['CODMUNNASC',
 'ESTCIVMAE',
 'GESTACAO',
 'GRAVIDEZ',
 'PARTO',
 'CONSULTAS',
 'DTNASCMAE',
 'DTNASC',
 'HORANASC',
 'RACACOR',
 'ESCMAE2010',
 'RACACORMAE']

In [28]:
mappers = pd.read_excel('mappers.xlsx').astype(str)

In [29]:
mappers['coluna'].value_counts()

ESCMAEAGR1    13
GESTACAO       7
ESCMAE2010     7
ESTCIVMAE      6
RACACORMAE     5
RACACOR        5
CONSULTAS      5
GRAVIDEZ       4
PARTO          3
Name: coluna, dtype: int64

In [30]:
for c in mappers['coluna'].unique():
    if c in df.columns:
        dict_c = dict(mappers[mappers['coluna'] == c][['cod', 'descricao']].values)
        df[f'{c}'] = df[c].map(dict_c).fillna('Não Idenficado')

In [31]:
df.head()

,CODMUNNASC,IDADEMAE,ESTCIVMAE,GESTACAO,GRAVIDEZ,PARTO,CONSULTAS,DTNASCMAE,DTNASC,HORANASC,RACACOR,PESO,ESCMAE2010,RACACORMAE
0,410430,39,Casada,37 a 41 semanas,Única,Vaginal,7 e mais,05021979,09112018,1225,Parda,3725,5 - Superior completo,Parda
1,410430,28,Solteira,32 a 36 semanas,Única,Cesário,7 e mais,26121989,09112018,1533,Parda,2855,3 - Médio (antigo 2º Grau),Parda
2,410430,24,Solteira,37 a 41 semanas,Única,Cesário,7 e mais,22101994,09112018,1628,Branca,2810,3 - Médio (antigo 2º Grau),Branca
3,410430,35,Casada,37 a 41 semanas,Única,Cesário,de 4 a 6,23061983,09112018,1702,Branca,4210,3 - Médio (antigo 2º Grau),Branca
4,410430,26,Solteira,37 a 41 semanas,Única,Cesário,de 1 a 3,08021992,09112018,2124,Não Idenficado,3195,4 - Superior incompleto,Não Idenficado

In [32]:
(lambda x: f'{int((x[-4:]))}/{int(x[2:4])}/{int(x[:2])}')('09112018')

'2018/11/9'

In [33]:
for v in ('DTNASCMAE', 'DTNASC'):
    df[v] = df[v].fillna('01011900')
    df[v] = df[v].str.replace(' ', '').apply(lambda x: datetime(int((x[-4:])), int(x[2:4]), int(x[:2])))
    df.loc[df[v] == datetime(1900, 1, 1), v] = np.nan

In [34]:
df['ANONASC'] = df['DTNASC'].apply(lambda x: x.year)
df['MESNASC'] = df['DTNASC'].apply(lambda x: x.month)

In [35]:
df['HORANASC'] = df['HORANASC'].str.replace(' ', '')
df['HORANASC'] = df['HORANASC'].str.slice(0, 2)

In [36]:
mun = pd.read_csv('Municipios_20220214.csv', dtype='O', encoding='ISO-8859-1', sep=';')
mun = mun[mun['UF_txt'].isin(('RS', 'PR', 'SC'))]

In [37]:
mun_mapper = dict(
        zip(
            mun['Código Município Completo'].str.slice(0, -1).values, 
            mun['Nome_Município'].values
        )
    )
uf_mapper = dict(
        zip(
            mun['Código Município Completo'].str.slice(0, -1).values, 
            mun['UF_txt'].values
        )
    )

In [38]:
df['NOMEMUNNASC'] = df['CODMUNNASC'].str.replace(' ', '').map(mun_mapper)
df['UFNASC'] = df['CODMUNNASC'].str.replace(' ', '').map(uf_mapper)
df = df[df['NOMEMUNNASC'].notna()]

In [39]:
df[~df['PARTO'].isin(('Vaginal', 'Cesário'))]

,CODMUNNASC,IDADEMAE,ESTCIVMAE,GESTACAO,GRAVIDEZ,PARTO,CONSULTAS,DTNASCMAE,DTNASC,HORANASC,RACACOR,PESO,ESCMAE2010,RACACORMAE,ANONASC,MESNASC,NOMEMUNNASC,UFNASC
5993,410580,31,Solteira,37 a 41 semanas,Única,Não Idenficado,7 e mais,1986-11-13 00:00:00,2018-07-11,15,Branca,3230,2 - Fundamental II (5ª a 8ª série),Branca,2018,7,Colombo,PR
6100,410580,16,Solteira,37 a 41 semanas,Única,Não Idenficado,de 4 a 6,2002-07-20 00:00:00,2018-07-24,08,Branca,3390,2 - Fundamental II (5ª a 8ª série),Branca,2018,7,Colombo,PR
7752,410640,37,Casada,37 a 41 semanas,Não Idenficado,Não Idenficado,7 e mais,1981-02-08 00:00:00,2018-09-10,17,Branca,3085,5 - Superior completo,Branca,2018,9,Cornélio Procópio,PR
17193,410690,22,Solteira,37 a 41 semanas,Única,Não Idenficado,7 e mais,1996-06-26 00:00:00,2018-10-15,23,Branca,3495,3 - Médio (antigo 2º Grau),Branca,2018,10,Curitiba,PR
21549,410690,21,Solteira,37 a 41 semanas,Única,Não Idenficado,de 4 a 6,1997-11-02 00:00:00,2018-11-30,13,Branca,3290,2 - Fundamental II (5ª a 8ª série),Branca,2018,11,Curitiba,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503723,420430,37,Casada,Não Idenficado,Não Idenficado,Não Idenficado,Nenhuma,1983-10-22 00:00:00,2021-02-24,14,Branca,2660,5 - Superior completo,Branca,2021,2,Concórdia,SC
1504112,420430,39,Solteira,37 a 41 semanas,Única,Não Idenficado,de 4 a 6,1981-10-01 00:00:00,2021-05-19,10,Branca,2975,5 - Superior completo,Branca,2021,5,Concórdia,SC
1504762,420460,22,Solteira,37 a 41 semanas,Única,Não Idenficado,7 e mais,1998-11-29 00:00:00,2021-02-07,01,Branca,3616,5 - Superior completo,Branca,2021,2,Criciúma,SC
1504999,420460,29,Solteira,Não Idenficado,Não Idenficado,Não Idenficado,Nenhuma,1991-07-14 00:00:00,2021-02-24,08,Branca,3795,5 - Superior completo,Branca,2021,2,Criciúma,SC
1505161,420460,27,Solteira,37 a 41 semanas,Única,Não Idenficado,7 e mais,1993-05-13 00:00:00,2021-03-07,08,Preta,2996,9 - Ignorado,Preta,2021,3,Criciúma,SC

In [40]:
df[df['IDADEMAE'] > 65]

,CODMUNNASC,IDADEMAE,ESTCIVMAE,GESTACAO,GRAVIDEZ,PARTO,CONSULTAS,DTNASCMAE,DTNASC,HORANASC,RACACOR,PESO,ESCMAE2010,RACACORMAE,ANONASC,MESNASC,NOMEMUNNASC,UFNASC
205476,410550,99,Ignorada,37 a 41 semanas,Ignorado,Ignorado,Nenhuma,NaN,2019-05-02,<NA>,Não Idenficado,1960,9 - Ignorado,Não Idenficado,2019,5,Cianorte,PR
309287,412770,99,Não Idenficado,Não Idenficado,Ignorado,Ignorado,Nenhuma,NaN,2019-09-14,07,Não Idenficado,2555,Não Idenficado,Não Idenficado,2019,9,Toledo,PR
321940,412770,99,Solteira,37 a 41 semanas,Única,Cesário,7 e mais,NaN,2020-03-09,11,Branca,2950,3 - Médio (antigo 2º Grau),Branca,2020,3,Toledo,PR
326351,410060,99,Ignorada,Não Idenficado,Ignorado,Ignorado,Nenhuma,NaN,2020-07-10,<NA>,Não Idenficado,2800,9 - Ignorado,Não Idenficado,2020,7,Alto Paraná,PR
647981,430850,99,Não Idenficado,Não Idenficado,Não Idenficado,Não Idenficado,Nenhuma,NaN,2018-05-03,<NA>,Não Idenficado,2600,Não Idenficado,Não Idenficado,2018,5,Frederico Westphalen,RS
689445,431490,99,Não Idenficado,28 a 31 semanas,Única,Vaginal,Nenhuma,NaN,2018-02-12,<NA>,Não Idenficado,1300,Não Idenficado,Não Idenficado,2018,2,Porto Alegre,RS
747525,430480,99,Não Idenficado,32 a 36 semanas,Não Idenficado,Não Idenficado,Nenhuma,NaN,2019-01-09,<NA>,Não Idenficado,960,Não Idenficado,Não Idenficado,2019,1,Carlos Barbosa,RS
850355,432250,99,Ignorada,Não Idenficado,Não Idenficado,Não Idenficado,Nenhuma,NaN,2019-01-16,14,Não Idenficado,3800,9 - Ignorado,Não Idenficado,2019,1,Vacaria,RS
1005060,431390,99,Não Idenficado,37 a 41 semanas,Única,Vaginal,Nenhuma,NaN,2021-06-30,05,Não Idenficado,2705,Não Idenficado,Não Idenficado,2021,6,Panambi,RS
1010788,431900,99,Não Idenficado,Não Idenficado,Única,Vaginal,Nenhuma,NaN,2021-05-25,<NA>,Não Idenficado,3280,Não Idenficado,Não Idenficado,2021,5,São Marcos,RS
1010791,432250,99,Não Idenficado,Não Idenficado,Não Idenficado,Não Idenficado,Nenhuma,NaN,2021-05-17,<NA>,Não Idenficado,-1,Não Idenficado,Não Idenficado,2021,5,Vacaria,RS
1310131,420540,99,Solteira,37 a 41 semanas,Única,Cesário,7 e mais,NaN,2019-06-04,16,Branca,4010,5 - Superior completo,Branca,2019,6,Florianópolis,SC

In [41]:
df = df[df['PARTO'].isin(('Vaginal', 'Cesário'))]
df = df[df['IDADEMAE'] <= 65]

In [43]:
df.shape

(1517146, 18)

In [42]:
df.to_csv('dataset_tratado.csv', sep=';', encoding='utf-8-sig')